<form method="post" action="maildemo">
    name: <input type="text" name="txt1" required>
    email: <input type="text" name="txt2" required>
    perpose of visit: <input type="text" name="txt3" required>
    <input type="submit">
</form>